---
import { languages } from "../i18n/ui";
import "../styles/global.css";
---

<ul class="flex gap-4 p-4 bg-gray-100 rounded-lg shadow-md">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li class="text-lg font-medium">
        <a
          href={`/${lang}/`}
          class="text-blue-600 hover:underline hover:text-blue-800 transition-colors"
          aria-label={`Switch to ${label} language`}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
