@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1a73f8; /* Azul para encabezados y enlaces */
  --color-secondary: #333; /* Color oscuro para textos */
  --bg-color: #f4f4f9; /* Fondo claro para toda la página */
  --font-primary: "Roboto", sans-serif;
  --font-size-base: 16px;
}

/* Configuración general de la fuente y color */
body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  color: var(--color-secondary);
  background-color: var(--bg-color);
  margin: 0;
}

/* Configuración de estructura con grid */
body,
#root {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

/* Encabezado, pie de página y contenedores principales */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1,
h2,
h3 {
  color: var(--color-primary);
  font-weight: 600;
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

/* Desplazamiento suave */
html {
  scroll-behavior: smooth;
}
